.font{
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0.8rem;
    
}

.postfont{
    font-size: 1em;
}

.heading{
    font-weight: bold;
}

.aboutfont{
    font-size: 1em;
    margin-bottom: 0.8rem;
}