{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <br />
    <div class="card testimonial-card mr-3 mb-3 ml-3">
      <div class="card-body">
        <div class="row">
          <div class="col-sm-4">
            <img src="{{ alumni.Image.url }}" style="height: 200px;width: 250px; border-radius: 10px;" />
          </div>
          <div class="col-sm-8">
            <h2 class="card-title text-danger">
              {{ alumni.first_name }} {{ alumni.last_name }}
              {% if request.user.id == alumni.id %}
                (You)
              {% endif %}
            </h2>
            <br />
            <p class="text-info">User Name - {{ alumni.username }}</p>
            <p class="text-info">Woking as - {{ alumni.Work|safe|linebreaks }}</p>
            <p class="text-info">Branch - {{ alumni.Branch }}</p>
            <p class="text-info">Skills - {{ alumni.skills|safe|linebreaks }}</p>
            <div class="btn-group" style="margin-top: 10px;">
              <a href="{% url 'followers' alumni.id %}" class="btn btn-primary">{{ alumni.get_followers|length }} Followers</a>
              <a href="{% url 'following' alumni.id %}" class="btn btn-secondary">{{ alumni.get_following|length }} Following</a>
              <a href="{% url 'AlumniPosts' alumni.username %}" class="btn btn-warning">{{ alumni.alumnipost_set.all|length }} Posts</a>
              {% if request.user.id == alumni.id %}
                <a href="{% url 'alumni-profile' alumni.id %}" class="btn btn-info">Edit your profile</a>
              {% endif %}
              {% if not request.user.id == alumni.id %}
                {% if request.user.id|stringformat:'s' in alumni.get_followers %}
                  <a href="{% url 'follow' alumni.id %}" class="btn btn-danger">Unfollow</a>
                {% else %}
                  <a href="{% url 'follow' alumni.id %}" class="btn btn-info">Follow</a>
                {% endif %}
              {% endif %}
            </div>
          </div>
        </div>
        <hr />
        <h2 class="card-title text-danger">About</h2>
        <h6>{{ alumni.About|safe|linebreaks }}</h6>
        <hr />
        <h2 class="card-title text-danger">Contacts</h2>
        <div style="border: 1px solid black; padding: 10px; border-radius: 5px; margin-top: 10px; margin-bottom: 10px; background-color: #f8f9fa;  font-size: 14px; font-weight: bold; color: #333;  ">
          <p class="text-info">Email - {{ alumni.email }}</p>
          <p class="text-info">Phone - {{ alumni.mobile }}</p>
          <p class="text-info">LinkedIn - {{ alumni.linkedin }}</p>
          <p class="text-info">Github - {{ alumni.Github }}</p>
          <p class="text-info">Instagram - {{ alumni.instagram }}</p>
        </div>
      </div>
    </div>
  </div>

  <br />
  <br />
  <br />
{% endblock %}
